@page "/"

<div class="component">
    <RadzenTable GridLines="DataGridGridLines.Both" AllowAlternatingRows="true">
        <RadzenTableHeader>
            <RadzenTableHeaderRow>
                <RadzenTableHeaderCell>
                    Transaction ID
                </RadzenTableHeaderCell>
                <RadzenTableHeaderCell>
                    Title
                </RadzenTableHeaderCell>
                <RadzenTableHeaderCell>
                    Description
                </RadzenTableHeaderCell>
                <RadzenTableHeaderCell>
                    Amount
                </RadzenTableHeaderCell>
            </RadzenTableHeaderRow>
        </RadzenTableHeader>
        <RadzenTableBody>
            <RadzenTableRow>
                <RadzenTableCell>
                    SKJFJ3837DJF
                </RadzenTableCell>
                <RadzenTableCell>
                    Payment 1
                </RadzenTableCell>
                <RadzenTableCell>
                    Payment for something...
                </RadzenTableCell>
                <RadzenTableCell>
                   $1324.00
                </RadzenTableCell>
            </RadzenTableRow>
            <RadzenTableRow>
                <RadzenTableCell>
                    SKFK3938FJD
                </RadzenTableCell>
                <RadzenTableCell>
                    Txn 2
                </RadzenTableCell>
                <RadzenTableCell>
                    This is a payment.
                </RadzenTableCell>
                <RadzenTableCell>
                    $124.00
                </RadzenTableCell>
            </RadzenTableRow>
            <RadzenTableRow>
                <RadzenTableCell>
                    FLEICN3837FJS
                </RadzenTableCell>
                <RadzenTableCell>
                    Payment 3
                </RadzenTableCell>
                <RadzenTableCell>
                   This is a description...
                </RadzenTableCell>
                <RadzenTableCell>
                    $23.04
                </RadzenTableCell>
            </RadzenTableRow>
        </RadzenTableBody>
    </RadzenTable>
</div>