@using Transwextions.Data.Models
<div class="component">
    <RadzenTemplateForm TItem="UserModel" Data=@Model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
            <div class="logo-image-container">
                <RadzenImage Path="./images/logo-small.png" class="sidebar-image-small" />
            </div>

            <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H4" Text="Welcome!" />

            <div>
                <RadzenText TextStyle="TextStyle.Caption" TextAlign="TextAlign.Center">Choose your Avatar!</RadzenText>
                <RadzenCarousel SelectedIndexChanged="AvatarCarousel_OnChange" AllowPaging="false" PagerOverlay="false" Auto="false" AllowNavigation="true"
                                Style="height: 120px;" class="rz-w-100" ButtonStyle="ButtonStyle.Secondary" ButtonVariant="Variant.Filled">
                    <Items>
                      @foreach (var avatarImage in AvatarImageNamesData)
                        {
                            <RadzenCarouselItem>
                                <RadzenImage Path="@(avatarImage)" style="width: 120px;" />
                            </RadzenCarouselItem>
                        }
                    </Items>
                </RadzenCarousel>
                <RadzenText TextAlign="TextAlign.Right">
                    <RadzenLink Text="@("avatars created by studio4rt")" Path="https://www.freepik.com/free-vector/round-avatars-set-with-faces-people-comic-portraits-happy-social-media-users_22676039.htm#fromView=search&page=1&position=46&uuid=e2cbea21-0243-44a1-8b1d-d1ce54503d23&query=Avatar+pack" />
                    </RadzenText>
                
            </div>

            <RadzenFormField Text="Name" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox Name="Username" @bind-Value=@Model.Username />
                    <RadzenLengthValidator Component="Username" Min="3" Text="Name should be at least 1 character" />
                    <RadzenLengthValidator Component="Username" Max="20" Text="Name should be at most 20 characters" />
                </ChildContent>
                <End>
                    <RadzenIcon Icon="account_circle" />
                </End>
            </RadzenFormField>

            <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Ok" />
        </RadzenStack>
    </RadzenTemplateForm>
</div>