@font-face {
    font-family: 'Signatra'; /* Choose a name for your font */
    src: url('../fonts/Signatra.otf');
    font-weight: normal;
    font-style: normal;
}

.rz-body {
    height: 100%;
    width: 100%;
    overflow:hidden;
}