#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.app {
    width: 100vw;
    height: 100vh;
    background-color: #0e2f56;
}

::deep .side-bar-image {
    width:365px;
}

::deep .side-bar {
    margin: 20px;
    border-radius: 15px;
    width: 400px;
    background-color: #007acc;
}

@media (max-width: 868px) {
    /* Your CSS styles for screen widths of 868px and less go here */
    .app {
        background-color: lightblue;
    }
}